<header class="home__header" id="gallery">
  <div class="home__header_content_wrapper">
    <div class="home__header_content">
      <h1>{{ tagline_1 }}</h1>
      <h2>{{ tagline_2 }}</h2>
      <a href="/join"><div class="home__header_cta">Join Us</div></a>
    </div>
  </div>
</header>
{{#if announcement}}
  <div class="home__announcement">{{announcement}}</div>
{{/if}}
<div class="page__content">
  <h2>Our Mission</h2>
  <p>{{ mission }}</p>
  <h2>Our Goals</h2>
  <p>{{ goals }}</p>
</div>

<script>
(function() {
  const images = JSON.parse(decodeURIComponent("{{{images}}}"));
  const gal = document.getElementById('gallery');
  const len = 1000; // Length image stays
  const url = buildUrl(images[3]);
  // set image when page loads
  gal.style.backgroundImage="url('" + url + "')";

  // then loop
  // loopGal(gal, images, 1);
})()

function loopGal(gal, images, i) {
  setTimeout(function() {
    const url = buildUrl(images[i]);
    gal.style.backgroundImage="url('" + url + "')";
    loopGal(gal, images, (++i)%(images.length));
  }, 5000);
}

function buildUrl(img) {
  return window.location.href + "assets/gallery/" + img;
}
</script>
