<header class="page__header">
</header>
<div class="page__title">
  <h1>Our Team</h1>
</div>
<script>
  function showPersonInfo(ele) {
    const description = [ele.childNodes[3],ele.childNodes[5]]; // child node 0 is nav text
    description.forEach(node => node.style.display = "block");
  }

  function hidePersonInfo(ele) {
    const description = [ele.childNodes[3],ele.childNodes[5]]; // child node 0 is nav text
    description.forEach(node => node.style.display = "none");
  }
</script>
<div class="page__content">
  <section class="team__people">
    {{#each team.quad}}
      <a href="#{{@index}}">
      <div class="team__person" onmouseover="showPersonInfo(this)" onmouseout="hidePersonInfo(this)">
        <div class="team__person_picture">
          <img src="{{this.image}}">
        </div>
        <div class="team__person_picture-block"></div>
        <div class="team__person_about">
          <div class="team__person_title">
            <span class="team__person_name">{{this.name}}</span> - {{this.role}}
          </div>
          <p class="team__person_description">{{this.content}}</p>
        </div>
      </div>
      </a>
    {{/each}}
  </section>
  <a id='1'></a>
  <h1>Finance Branch</h1>
  <section class="team__people">
    {{#each team.finance}}
      <div class="team__person" onmouseover="showPersonInfo(this)" onmouseout="hidePersonInfo(this)">
        <div class="team__person_picture">
          <img src="{{this.image}}">
        </div>
        <div class="team__person_picture-block"></div>
        <div class="team__person_about">
          <div class="team__person_title">
            <span class="team__person_name">{{this.name}}</span> - {{this.role}}
          </div>
          <p class="team__person_description">{{this.content}}</p>
        </div>
      </div>
    {{/each}}
  </section>
  <a id='2'></a>
  <h1>Service Branch</h1>
  <section class="team__people">
    {{#each team.advocacy}}
      <div class="team__person" onmouseover="showPersonInfo(this)" onmouseout="hidePersonInfo(this)">
        <div class="team__person_picture">
          <img src="{{this.image}}">
        </div>
        <div class="team__person_picture-block"></div>
        <div class="team__person_about">
          <div class="team__person_title">
            <span class="team__person_name">{{this.name}}</span> - {{this.role}}
          </div>
          <p class="team__person_description">{{this.content}}</p>
        </div>
      </div>
    {{/each}}
  </section>
  <a id='3'></a>
  <h1>Service Branch</h1>
  <section class="team__people">
    {{#each team.service}}
      <div class="team__person" onmouseover="showPersonInfo(this)" onmouseout="hidePersonInfo(this)">
        <div class="team__person_picture">
          <img src="{{this.image}}">
        </div>
        <div class="team__person_picture-block"></div>
        <div class="team__person_about">
          <div class="team__person_title">
            <span class="team__person_name">{{this.name}}</span> - {{this.role}}
          </div>
          <p class="team__person_description">{{this.content}}</p>
        </div>
      </div>
    {{/each}}
  </section>
</div>
