<header class="page__header">
</header>
<div class="page__title">
  <h1>Our Team</h1>
</div>
<script>
  function showPersonInfo(ele) {
    const description = [ele.childNodes[3],ele.childNodes[5]]; // child node 0 is nav text
    description.forEach(node => node.style.display = "block");
  }

  function hidePersonInfo(ele) {
    const description = [ele.childNodes[3],ele.childNodes[5]]; // child node 0 is nav text
    description.forEach(node => node.style.display = "none");
  }
</script>
<div class="page__content">
  <section class="team__people">
    {{#each team}}
      <a href="#{{@index}}">
      <div class="team__person" onmouseover="showPersonInfo(this)" onmouseout="hidePersonInfo(this)">
        <div class="team__person_picture">
          <img src="{{this.picture}}">
        </div>
        <div class="team__person_picture-block"></div>
        <div class="team__person_about">
          <div class="team__person_title">
            <span class="team__person_name">{{this.name}}</span> - {{this.title}}
          </div>
          <p class="team__person_description">{{this.description}}</p>
        </div>
      </div>
      </a>
    {{/each}}
  </section>

  <section id="0">
    <h1>Section 0</h1>
  </section>
  <section id="1">
    <h1>Section 1</h1>
  </section>
  <section id="2">
    <h1>Section 2</h1>
  </section>
  <section id="3">
    <h1>Section 3</h1>
  </section>
</div>
